<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Love</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<header th:replace="fragments/header :: ShopHeader"></header>


  <div class="main-content">

  <div style="...">
    <table cellspacing="0">
      <tr>
        <th style="...">No</th>
        <th style="..."></th>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Suma</th>
        <th style="..."></th>
      </tr>
      <tr th:each="cartItem : ${@cart.cartItems}">
        <td>1</td>
        <td>
          <img src="@{${cartItem.item.imgUrl}}">
        </td>
        <td th:text="${cartItem.item.name}"></td>
        <td style="...">
          <a class="mbtn" href=""> - </a>
          <p th:text="${cartItem.counter}"></p>
          <a class="mbtn" th:href="@{'/order/decrease/' + ${cartItem.item.id}}" > - </a>
          <a class="mbtn" th:href="@{'/order/increase/' + ${cartItem.item.id}}"> + </a>
        </td>
        <td th:text="${cartItem.price}"></td>
        <td>
          <a class="mbtn" th:href="@{'/order/remove/' + ${cartItem.item.id}}">X</a>
        </td>
      </tr>
    </table>

    <div class="summary">
      <p><span>Do zapłaty:</span><span th:text="${@cart.sum}"></span>zł</p>
    </div>
    <a th:href="@{/order/summary}" class="add-btn">Dalej</a>
  </div>
</div>

</body>
</html>